@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset */
* {
  font-family: "Arsenal", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
}

/* Base Styling */
.container {
  @apply max-w-[1170px] w-full mx-auto px-4;
}

.header-top a{
  @apply hover:underline-offset-1 hover:underline decoration-white;
}